asgiref==3.3.1
astroid==2.4.2
beautifulsoup4==4.9.1
Django==3.1.5
google==3.0.0
google-search==1.0.2
idna==2.10
isort==5.7.0
lazy-object-proxy==1.4.3
lxml==4.6.2
mccabe==0.6.1
more-itertools==8.6.0
pylint==2.6.0
pytz==2020.5
requests==2.24.0
six==1.15.0
soupsieve==2.0.1
sqlparse==0.4.1
toml==0.10.2
urllib3==1.25.9
wikipedia==1.4.0
wolframalpha==4.1.1
wrapt==1.12.1
xmltodict==0.12.0
