

h1 {
    font-family: 'Arvo', serif;
}

body {
    
    overflow-y: scroll;
    scrollbar-width: none;
  }
  
.main-container {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.title {
    margin-bottom: 15px;
    font-family: 'Open Sans', sans-serif;
}
.title > h1 {
    font-size: 90px;
}
.answers {
    margin: 10px 20px 0px 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.answer {
    float: left;
    box-shadow: 3px 3px 5px #111111;
    margin: 10px;
    padding: 30px;
    width: 300px;
    height: 300px;
}

.answer_text {
    overflow-y: scroll;
    scrollbar-width: none;  
    -ms-overflow-style: none; 
}

.answer_text:-webkit-scrollbar {
    display: none;
  }

.answer_text>span{
    font-family: 'Open Sans';
    font-style: normal;
    font-size: 16px;
    padding-bottom: 30px;
    
}

.answer_image>a>img {
    max-width: 240px;
    max-height: 240px;
    display: block;
    margin: auto;  
}

.answer_image {
    block-size: auto;
}

.answer_links {
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none; 
}

.answer_links:-webkit-scrollbar {
    display: none;
}

.answer_wide {
    width: 620px;
}

.answer_tall {
    height: 620px;
}

.answer_big {
    width: 620px;
    height: 620px;
}

.opt_win {
    display: none;
    position: absolute;
    background-color: rgb(255, 246, 127);
    border-radius: 25px;
    background: #73AD21;
    padding: 20px;
}

.loader {
    display: none;
}

.search_box {
    border: 2px;
    border-color: black;
    border-style: solid;
}

.search_box>input {
    border: 0px;
    background-color: white;
    border-style: solid;
}

#id_search_text {
    margin-left: 2px;
    height: 30px;
    width: 26vw;
    border-right: 2px;
    border-style: solid;
}

#option_btn {
    border-left: 2px;
    border-style: solid;
    height: 30px;
}

.answer_stack {
    align-items: center;
    display: flex;
    color: black;
    text-decoration: none;
    flex-direction: column;
}

.score {
    position: relative;
    left: 120;
    bottom: 170;
    font-weight: bold;
    font-size: large;
}

.answer_stack>img {
    width: 150px;
    height: 150px;
}

.answer_stack>span {
    text-align: center;
}