

h1 {
    font-family: 'Arvo', serif;
}

body {
    
    overflow-y: scroll;
    scrollbar-width: none;
  }
  
.main-container {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.title {
    margin-bottom: 15px;
}

.answers {
    margin: 10px 20px 0px 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.answer {
    float: left;
    box-shadow: 3px 3px 5px #111111;
    margin: 10px;
    padding: 30px;
    width: 300px;
    height: 300px;
}

.answer_text {
    overflow-y: scroll;
    scrollbar-width: none;  
}

.answer_text>span{
    font-family: 'Open Sans';
    font-style: normal;
    font-size: 16px;
    padding-bottom: 30px;
    
}

.answer_image>img {
    max-width: 240px;
    max-height: 240px;
    display: block;
    margin: auto;  
}

.answer_image {
    block-size: auto;
}

.answer_links {
    overflow-y: scroll;
    scrollbar-width: none;
}

.answer_wide {
    width: 620px;
}

.answer_tall {
    height: 620px;
}

.answer_big {
    width: 620px;
    height: 620px;
}

.opt_win {
    display: none;
    position: absolute;
    background-color: aquamarine;
}

.loader {
    display: none;
}

.search_box {
    border: 2px;
    border-color: black;
    border-style: solid;
}

.search_box>input {
    border: 0px;
    background-color: white;
    border-style: solid;
}

#id_search_text {
    margin-left: 2px;
    height: 30px;
    width: 26vw;
    border-right: 2px;
    border-style: solid;
}

#option_btn {
    border-left: 2px;
    border-style: solid;
    height: 30px;
}