{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="d-flex p-2 justify-content-center main-container">
    <div class="title">
        <h1>Researcher.ai</h1>
    </div>
    <div class="form-group">
        <form method="post">
            {% csrf_token %}
            <input type="text" name="search_text" required="" id="id_search_text"><input type="submit" value="Szukaj">
        </form>
    </div>
    {% if success %}
    <div class="answers">
        {% for answer in answers %}
        <div class="answer">
            {{ answer }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
<script src="{% static 'colorGen.js' %}"></script>
<script src="{% static 'linkShorten.js' %}"></script>
{% endblock %}