{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="d-flex p-2 justify-content-center main-container">
    <div class="title">
        <h1>Researcher.ai</h1>
    </div>
    <div class="form-group">
        <form method="post">
            {% csrf_token %}
            <div name="option_window" id="opt_win" class="opt_win">
                <legend>Choose your API's: </legend>
                <div>
                    <input type="checkbox" id="google" name="api", value="google" checked>
                    <label for="google">Google</label>
                </div>
                <div>
                    <input type="checkbox" id="stack" name="api", value="stack" checked>
                    <label for="stack">Stack Exchange</label>
                </div>
                <div>
                    <input type="checkbox" id="wolfram" name="api", value="wolfram" checked>
                    <label for="wolfram">Wolfram Alpha</label>
                </div>
                <div>
                    <input type="checkbox" id="wikipedia" name="api", value="wikipedia" checked>
                    <label for="wikipedia">Wikipedia</label>
                </div>
            </div>
            <div class="search_box">
                <input type="text" name="search_text" required="" id="id_search_text">
                <input type="image" alt="Szukaj" src="{% static 'lupa_icon.svg' %}" value="Szukaj" width="18" height="18">
                <input id="option_btn" type="button" value="...">
            </div>
        </form>
    </div>

    <div name="loader" id="loader" class="loader">
        <img src="{% static 'loader.gif' %}">
    </div>

    {% if success %}
    <div class="answers">
        {% for answer in answers %}
        <div class="answer answer_text">
            <h1> {{ answer.0 }}</h1>
            <span>{{ answer.1 }}</span>
        </div>
        {% empty %}
        {% endfor %}

        {% for image in images %}
            <div class="answer answer_image">
                <a href={{ image }}><img src={{ image }}></a>
            </div>
        {% empty %}
        {% endfor %}

        {% for stack_answer in stack_answers %}
        <div class="answer">
            <a class="answer_stack" href="{{ stack_answer.4 }}" title="{{ stack_answer.1 }}">
                <img src="{{ stack_answer.0 }}"> 
                <span class="score">{{ stack_answer.2 }}</span>
                <span>{{ stack_answer.3 }}</span>
            </a>
        </div>
        {% empty %}
        {% endfor %}

        {% if links %}
        <div class="answer answer_links">
            {% for link in links %}
                <a href={{ link }}>{{ link }}</a>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    {% endif %} 
    
    
</div>
<script src="{% static 'colorGen.js' %}"></script>
<script src="{% static 'linkShorten.js' %}"></script>
<script src="{% static 'optionWin.js' %}"></script>
<script src="{% static 'onSubmit.js' %}"></script>
{% endblock %}